.footer_container{
    background-image: url('../../../assets/images/footer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;
    
}